# Ignore Python compiled file.
*.pyc

# Ignore files made by PyCharm.
.idea/

# Ignore media(album cover) files.
media/

# Ignore static directory. (Static files are on AWS S3)
/static/

# Ignore log file.
MusicManager.log

# Ignore database file for local development.
db.sqlite3

# Environment variables for Docker Images.
.env