# Ignore Python compiled file.
*.pyc

# Ignore files made by PyCharm.
.idea/

# Ignore media(album cover) files.
media/

# Ignore setting secret file.
settings.json

# Ignore static directory. (Static files are on AWS S3)
/static/