{% extends "manager_core/page_base.html" %}

{% block title %}
MusicManager :: 비밀번호 초기화
{% endblock title %}

{% block content %}
<div class="goni_padding"></div>
  {% if validlink %}
    {% load crispy_forms_tags %}
    <h1>Change password</h1>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-danger" type="submit" value="비밀번호 변경">
    </form>
  {% else %}
    <p>
      비밀번호 초기화 링크가 부적절합니다. 이미 초기화가 완료되었을 수도 있습니다. 비밀번호 초기화를 다시 요청해 주세요.
    </p>
  {% endif %}
<div class="goni_padding"></div>
{% endblock %}