@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* navbar custom. */
.navbar {
  background: #454545;
}

.navbar a { 
  color: white;
}

/* To customizing footer. */
.gonifooter {
  background: #454545;
  color: white;
  vertical-align: middle;
}

/* Album information */
.album_cover {
  float: left;
  height: 150px;
  padding: 5px;
}

.album_basicinfo {
  float: right;
  height: 150px;
}

.goni_padding {
  height: 30px;
}