{% extends 'manager_core/page_base.html' %}

{% block title %}
MusicManager :: Add album confirm
{% endblock %}

{% block content %}
<!-- Body start -->
<h1>Add Album (확인)</h1>

<p>주소를 입력하세요 (네이버 뮤직/벅스 지원)</p>

<form class="form-inline" role="form" action="{% url 'manager_core:add_result' %}" method="POST">
{% csrf_token %}
    <input class="form-control" type="text" name="album_url" id="album_url" value="{{ original_url }}"/>
    <input class="btn" type="submit" value="Get!" />
</form>
<div class="goni_padding"></div>
<!-- Start of printing result -->
{% include "manager_core/album_item.html" with link=False id=-1 cover_file=album_cover artist=album_artist title=album_title delete=False %}

<p>Track list</p>

<table class="table">
  <tr>
    <th>D#</th>
    <th>T#</th>
    <th>Title</th>
    <th>Artist</th>
  </tr>
{% for track in tracks %}
  <tr>
    <td>{{ track.disk }}</td>
    <td>{{ track.track_num }}</td>
    <td>{{ track.track_title }}</td>
    <td>{{ track.track_artist}}</td>
  </tr>
{% endfor %}
</table>

<hr>
<p>이 앨범을 등록하시겠습니까?</p>
<form class="form-inline" role="form" action="{% url 'manager_core:add_action' %}" method="POST">
{% csrf_token %}
    <input type="hidden" name="album_data" id="album_data" value="{{ parsed_data }}" />
    <input type="hidden" name="album_url" id="album_url" value="{{ original_url }}" />
    <input class="btn btn-success" type="submit" value="등록" />
</form>
<!-- End of printing result -->
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}