{% extends 'manager_core/page_base.html' %}

{% block title %}
MusicManager :: Add album
{% endblock %}

{% block content %}
<!-- Body start -->
{% if error == True %}
<div class="alert alert-danger" role="alert"><b>오류 발생:</b> 잘못된 URL을 입력하셨습니다!</div>
{% endif %}
<h1>Add Album</h1>
<p>주소를 입력하세요 (네이버 뮤직/벅스 지원)</p>

<form class="form-inline" role="form" action="{% url 'manager_core:add_result' %}" method="POST">
{% csrf_token %}
{% if error == True %}
    <input class="form-control" type="text" name="album_url" id="album_url" value="{{ req_url }}"/>
{% else %}
    <input class="form-control" type="text" name="album_url" id="album_url"/>
{% endif %}
    <input class="btn" type="submit" value="Get!" />
</form>
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}