{% load staticfiles %}
<!-- Header -->
{% include "manager_core/header.html" %}
<!-- End of Header -->

<!-- Body start -->
<h1>Add Album (확인)</h1>

<p>주소를 입력하세요 (네이버 뮤직/벅스 지원)</p>

<form class="form-inline" role="form" action="{% url 'manager_core:add_result' %}" method="POST">
{% csrf_token %}
    <input class="form-control" type="text" name="album_url" id="album_url" value="{{ original_url }}"/>
    <input class="btn" type="submit" value="Get!" />
</form>
<div class="goni_padding"></div>
<!-- Start of printing result -->
<div class="album_cover col-md-2 col-sm-2 col-xs-3">
    <!-- Show album cover -->
    <img class="img-responsive" src="{% static 'manager_core/images/'|add:album_cover %}" width="120px" height="120px"></div>
<div class="album_basicinfo col-md-10 col-sm-10 col-xs-9">
    <!-- Show artist and title-->
    <table class="table">
        <tr>
            <td class="col-md-2 col-sm-2 col-xs-3"><b>Artist</b></td>
            <td class="col-md-10 col-sm-10 col-xs-9">{{ album_artist }}</td>
        <tr>
        <tr>
            <td class="col-md-2 col-sm-2 col-xs-3"><b>Title</b></td>
            <td class="col-md-10 col-sm-10 col-xs-9">{{ album_title }}</td>
        <tr>
    </table>
</div>

<p>Track list</p>

<table class="table">
  <tr>
    <th>D#</th>
    <th>T#</th>
    <th>Title</th>
    <th>Artist</th>
  </tr>
{% for track in tracks %}
  <tr>
    <td>{{ track.disk }}</td>
    <td>{{ track.track_num }}</td>
    <td>{{ track.track_title }}</td>
    <td>{{ track.track_artist}}</td>
  </tr>
{% endfor %}
</table>

<hr>
<p>이 앨범을 등록하시겠습니까?</p>
<form class="form-inline" role="form" action="{% url 'manager_core:add_action' %}" method="POST">
{% csrf_token %}
    <input type="hidden" name="album_data" id="album_data" value="{{ parsed_data }}" />
    <input type="hidden" name="album_url" id="album_url" value="{{ original_url }}" />
    <input class="btn btn-success" type="submit" value="등록" />
</form>
<!-- End of printing result -->
<div class="goni_padding"></div>
<!-- Body end -->

<!-- Footer -->
{% include "manager_core/footer.html" %}
<!-- End of footer -->