{% load staticfiles %}
<div class="album_cover col-md-2 col-sm-2 col-xs-3">
    <!-- Show album cover -->
    {% if link == True %}
    <a href="{% url 'manager_core:album' id %}">
    {% endif %}
        {% if cover_external == True %}
        <img class="img-responsive" src="{{ cover_file }}" width="120px" height="120px">
        {% else %}
        <img class="img-responsive" src="{{ cover_file.url }}" width="120px" height="120px">
        {% endif %}
    {% if link == True %}
    </a>
    {% endif %}
</div>
<div class="album_basicinfo col-md-10 col-sm-10 col-xs-9">
    <!-- Show artist and title-->
    <table class="table">
        <tr>
            <td class="col-md-2 col-sm-2 col-xs-3"><b>Artist</b></td>
            <td class="col-md-10 col-sm-10 col-xs-9">{{ artist }}</td>
        <tr>
        <tr>
            <td class="col-md-2 col-sm-2 col-xs-3"><b>Title</b></td>
            {% if link == True %}
            <td class="col-md-10 col-sm-10 col-xs-9"><a href="{% url 'manager_core:album' id %}">{{ title }}</a></td>
            {% else %}
            <td class="col-md-10 col-sm-10 col-xs-9">{{ title }}</td>
            {% endif %}
        </tr>
        <tr>
        {% if delete == True %}
            <td class="col-md-2 col-sm-2 col-xs-3">
                <a class="btn btn-danger btn-sm" href="{% url 'manager_core:delete' id %}">Delete!</a>
            </td>
            <td class="col-md-10 col-sm-10 col-xs-9"></td>
        {% endif %}
        {% if user_add == True %}
            {% if user.is_active %}
            <!-- Add album button -->
            <td class="col-md-2 col-sm-2 col-xs-3">
                <a class="btn btn-primary btn-sm" href="{% url 'user:user_album_add_confirm' id %}">Add Album</a>
            </td>
            <td class="col-md-10 col-sm-10 col-xs-9"></td>
            {% endif %}
        {% endif %}
        {% if user_delete == True %}
            {% if user.is_active %}
            <!-- Add album button -->
            <td class="col-md-2 col-sm-2 col-xs-3">
                <a class="btn btn-danger btn-sm" href="{% url 'user:user_album_delete_confirm' id %}">Delete Album</a>
            </td>
            <td class="col-md-10 col-sm-10 col-xs-9"></td>
            {% endif %}
        {% endif %}
        </tr>
    </table>
</div>