{% extends 'manager_core/page_base.html' %}

{% block title %}
MusicManager :: Add album
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<!-- Body start -->
<h1>Add Album</h1>
<p>주소를 입력하세요 (네이버 뮤직/벅스/멜론/AllMusic 지원)</p>

<form class="form-inline" role="form" action="." method="POST">
{% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-default" type="submit" value="Get!" />
</form>
<div class="goni_padding"></div>
<!-- Start of printing result -->
{% if error == True %}
    <div class="alert alert-danger" role="alert"><strong>Parsing 실패!</strong> 유효하지 않은 URL 입니다. 다시 입력해 주세요.</div>
{% endif %}

{% if success == True %}
    {% include "manager_core/album_item.html" with link=False id=-1 cover_external=True cover_file=album_cover artist=album_artist title=album_title delete=False %}

    <!-- Track list -->
    {% for disk in disks %}
      {% comment "Get disk number" %}
        Get disk number from first track. disk is a QuerySet object for an actual disk.
        You can access first element of list using '.0'.
      {% endcomment %}
      <h4>Disk {{ disk.0.disk }}</h4>
      <table class="table">
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Artist</th>
        </tr>
      {% for track in disk %}
        <tr>
          <td>{{ track.track_num }}</td>
          <td>{{ track.track_title }}</td>
          <td>{{ track.track_artist}}</td>
        </tr>
      {% endfor %}
      </table>
    {% endfor %}

    <hr>
    <p>이 앨범을 등록하시겠습니까?</p>
    <form class="form-inline" role="form" action="{% url 'manager_core:add_action' %}" method="POST">
    {% csrf_token %}
        <input type="hidden" name="album_data" id="album_data" value="{{ parsed_data }}" />
        <input type="hidden" name="album_url" id="original_url" value="{{ original_url }}" />
        <input class="btn btn-success" type="submit" value="등록" />
        <a class="btn btn-default" href="{% url 'manager_core:index' %}">취소</a>
    </form>
{% endif %}
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}