{% extends 'manager_core/page_base.html' %}

{% block title %}
MusicManager :: {{ album.album_artist }} - {{ album.album_title }}
{% endblock %}

{% block content %}
<!-- Body start -->
<h1>앨범 확인하기</h1>
<div class="goni_padding"></div>
<!-- Start of printing result -->
{% include "manager_core/album_item.html" with link=False id=album.id cover_file=album.album_cover_file artist=album.album_artist title=album.album_title delete=True %}

<p>Track List</p>

<table class="table">
  <tr>
    <th>D#</th>
    <th>T#</th>
    <th>Title</th>
    <th>Artist</th>
  </tr>
{% for track in tracks %}
  <tr>
    <td>{{ track.disk }}</td>
    <td>{{ track.track_num }}</td>
    <td>{{ track.track_title }}</td>
    <td>{{ track.track_artist}}</td>
  </tr>
{% endfor %}
</table>
<p></p>
<!-- End of printing result -->
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}