{% extends 'manager_core/page_base.html' %}

{% block title %}
MusicManager :: {{ album.album_artist }} - {{ album.album_title }}
{% endblock %}

{% block content %}
<!-- Body start -->
<h1>앨범 확인하기</h1>
<div class="goni_padding"></div>
<!-- Start of printing result -->
{% include "manager_core/album_item.html" with link=False id=object.id cover_file=object.album_cover_file artist=object.album_artist title=object.album_title delete=True %}

<!-- Track list. -->

{% for disk in disks %}
  {% comment "Get disk number" %}
    Get disk number from first track. disk is a QuerySet object for an actual disk. 
    You can access first element of list using '.0'.
  {% endcomment %}
  <h4>Disk {{ disk.0.disk }}</h4>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Artist</th>
    </tr>
  {% for track in disk %}
    <tr>
      <td>{{ track.track_num }}</td>
      <td>{{ track.track_title }}</td>
      <td>{{ track.track_artist}}</td>
    </tr>
  {% endfor %}
  </table>
{% endfor %}

<p></p>
<!-- End of printing result -->
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}