{% extends 'manager_core/page_base.html' %}

{% load staticfiles %}

{% block title %}
MusicManager
{% endblock %}

{% block additional_style %}
<link rel="stylesheet" type="text/css" href="{% static 'mm_user/css/rating.css' %}">
{% endblock %}

{% block content %}
<!-- List of my albums. -->
{% load manager_core_tags %}
{% if object_list|length == 0 %}
    <h1>No album information uploaded.</h1>
{% else %}
    <h1>전체 앨범 목록</h1>
    <p>MusicManager는 현재 {{ albums_number }} 장의 앨범을 관리하고 있습니다.</p>
    <div class="goni_padding"></div>
    {% for album in object_list %}
        {% include "manager_core/album_item.html" with item=album %}
    {% endfor %}

    <!-- Page selector. -->
    {% if is_paginated %}
        {% pagination %}
    {% endif %}
    <!-- End of page selector. -->
{% endif %}
<!-- End of list. -->
<div class="goni_padding"></div>
{% endblock content %}