{% extends 'manager_core/page_base.html' %}

{% block content %}
<!-- Body start -->
<h1>Delete Album (확인)</h1>

<div class="goni_padding"></div>
<!-- Start of printing result -->
{% include "manager_core/album_item.html" with link=False id=-1 cover_file=album_cover artist=album_artist title=album_title delete=False %}

<div class="goni_padding"></div>
<hr>
<p>이 앨범을 삭제하시겠습니까?</p>
<form action="{% url 'manager_core:delete' %}" method="POST">
{% csrf_token %}
    <input type="hidden" name="album_id" id="album_id" value="{{ album_id }}" />
    <input class="btn btn-danger" type="submit" value="삭제" />
</form>
<!-- End of printing result -->
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}