{% load staticfiles %}
<!DOCTYPE html>
<!-- Bootstrap default template -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>MusicManager</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'manager_core/css/bootstrap.min.css' %}">
		<!-- Custom CSS (by Yungon) -->
		<link rel="stylesheet" type="text/css" href="{% static 'manager_core/css/custom.css' %}">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
			</script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<!-- Header -->
		<div class="container">
			<nav class="navbar" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'manager_core:index' %}">MusicManager</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="{% url 'manager_core:add_album' %}">Add Album</a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<!-- Start contents -->
		<div class="container">