{% extends 'manager_core/page_base.html' %}

{% block content %}
<!-- List of my albums. -->
{% if album_list|length == 0 %}
    <h1>No album information uploaded.</h1>
{% else %}
    <h1>앨범 목록</h1>
    <p>현재 {{ albums_number }} 장의 앨범을 관리하고 있습니다.</p>
    <div class="goni_padding"></div>
    {% for album in album_list %}
        {% include "manager_core/album_item.html" with link=True id=album.id cover_file=album.album_cover_file artist=album.album_artist title=album.album_title delete=True %}
    {% endfor %}

    <!-- Page selector. -->
    <ul class="pagination">
{% for i in pages_list %}
    {% if i == current_page %}
        <li class="active"><a href="#">{{ i }}</a></li>
    {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}
    </ul>

    <!-- End of page selector. -->
{% endif %}
<!-- End of list. -->
<div class="goni_padding"></div>
{% endblock content %}