{% load staticfiles %}
<!-- Header -->
{% include "manager_core/header.html" %}
<!-- End of Header -->

<!-- List of my albums. -->
{% if album_list|length == 0 %}
    <h1>No album information uploaded. </h1>
{% else %}
    <h1>앨범 목록 ({{ album_list|length }} albums found) </h1>
    {% for album in album_list %}
        <!-- Show album cover -->
        <img src="{% static 'manager_core/images/'|add:album.album_cover_file %}" width="200px" height="200px">

        <!-- Show artist -->
        <h4>Artist: {{ album.album_artist }}</h4>

        <!-- Show album title -->
        <h4>Title: <a href="{% url 'manager_core:album' album.id %}">{{ album.album_title }}</a></h4>
    {% endfor %}
{% endif %}
<!-- End of list. -->

<!-- Footer -->
{% include "manager_core/footer.html" %}
<!-- End of footer -->