{% load staticfiles %}
<!DOCTYPE html>
<!-- Bootstrap default template -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
			{% endblock %}
		</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'manager_core/css/bootstrap.min.css' %}">
		<!-- Custom CSS (by Yungon) -->
		<link rel="stylesheet" type="text/css" href="{% static 'manager_core/css/custom.css' %}">

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
			</script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<!-- Header -->
		<div class="container">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'manager_core:index' %}">MusicManager</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{% url 'manager_core:add_album' %}"><span class="glyphicon glyphicon-plus"></span> Add Album</a></li>
						<li><a href="{% url 'manager_core:search' %}"><span class="glyphicon glyphicon-search"></span> Search Album</a></li>
					</ul>
				</div>
			</nav>
		</div>
		
		<!-- Start contents -->
		<div class="container">
            {% block content %}
            {% endblock %}
        </div>
		<!-- End of contents -->
		<!-- Footer -->
		<div class="container">
			<div class="col-md-12 gonifooter">
				<p style="padding-top:5px;">2016 April Station Lab. All rights reserved.</p>
			</div>
		</div>

		<!-- JQuery (Necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'manager_core/js/bootstrap.min.js' %}"></script>
	</body>
</html>
