{% extends 'manager_core/page_base.html' %}

{% load static %}

{% block title %}
MusicManager
{% endblock %}

{% block additional_style %}
<link rel="stylesheet" type="text/css" href="{% static 'mm_user/css/rating.css' %}">
{% endblock %}

{% block content %}
<!-- List of my albums. -->
{% load manager_core_tags %}
{% if object_list|length == 0 %}
    <h1>No album information uploaded.</h1>
{% else %}
    <h1>{{ artist_name}}의 앨범</h1>
    <p>{{ artist_name }}의 앨범 목록입니다. (총 {{ artist_album_count }} 장)</p>
    <div class="goni_padding"></div>
    {% for object in object_list %}
        {% album_info album_link=True add_delete_button=True %}
    {% endfor %}

    <!-- Page selector. -->
    {% if is_paginated %}
        {% include 'manager_core/paginator.html' %}
    {% endif %}
    <!-- End of page selector. -->
{% endif %}
<!-- End of list. -->
<div class="goni_padding"></div>
{% endblock content %}