{% load staticfiles %}
<div class="album_cover col-md-2 col-sm-2 col-xs-3">
    <!-- Show album cover -->
    {% if album_link == True %}
    <a href="{% url 'manager_core:album' album.id %}">
    {% endif %}
        {% if album.album_cover_file == None %}
            {% if external_cover is not None %}
                <img class="img-responsive" src="{{ external_cover }}" width="120px" height="120px">
            {% else %}
                <img class="img-responsive" src="{% static 'manager_core/images/no_cover.jpg' %}" width="120px" height="120px">
            {% endif %}
        {% else %}
            <img class="img-responsive" src="{{ album.album_cover_file.url }}" width="120px" height="120px">
        {% endif %}
    {% if album_link == True %}
    </a>
    {% endif %}
</div>
<div class="album_basicinfo col-md-10 col-sm-10 col-xs-9">
    <!-- Show artist and title-->
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-3"><b>Artist</b></div>
        <div class="col-md-10 col-sm-10 col-xs-9">
            {% if artist_link == True %}
            <a href="{% url 'manager_core:artist' album.id %}">
            {% endif %}
            {{ album.album_artist }}
            {% if artist_link == True %}
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-3"><b>Title</b></div>
        <div class="col-md-10 col-sm-10 col-xs-9">
        {% if album_link == True %}
        <a href="{% url 'manager_core:album' album.id %}">
        {% endif %}
        {{ album.album_title }}
        {% if album_link == True %}
        </a>
        {% endif %}
        </div>
    </div>
    <!-- Show additional information -->
    <div class="row">
    {% if show_additional_info == True %}
        <!-- Score -->
        <div title="이 앨범의 평균 평점(10점 만점)" class="col-md-2 col-sm-2 col-xs-2">
            <div class="stars" style="cursor:auto; color:black;">
                <span class="full_star">&#xf005;</span> {{ album.average_rating }}
            </div>
        </div>
        <!-- Owners count -->
        <div title="이 앨범을 갖고 있는 사람 수" class="col-md-1 col-sm-1 col-xs-1">
            <span class="glyphicon glyphicon-user"></span>
            &nbsp;{{ album.owner_count }}
        </div>
    {% endif %}
    <!-- User related additional information. -->
    {% if user.is_authenticated %}
        {% if add_user_album == True %}
            <!-- Add album button -->
            <div title="내 앨범 리스트에 추가" class="col-md-1 col-sm-1 col-xs-1">
                <a href="{% url 'user:user_album_add_confirm' album.id %}">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        {% endif %}
        {% if delete_user_album == True %}
            <!-- Delete album button -->
            <div class="col-md-1 col-sm-1 col-xs-1">
                <a title="내 앨범 리스트에서 삭제" href="{% url 'user:user_album_delete' user_album_id %}" style="color: red;">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        {% endif %}
        {% if rating_form == True %}
            <!-- Rating -->
            <div class="col-md-2 col-sm-2 col-xs-2">
                <a class="open-form" id="{{ user_album_id }}">
                {% include "users/star_score.html" with my_score=my_score scores_list=score_iterator %}
                </a>
            </div>
        {% endif %}
    {% endif %}
        <div class="col-md-8 col-sm-8 col-xs-8"></div>
    </div>
</div>