{% extends 'manager_core/page_base.html' %}

{% load static %}

{% block title %}
MusicManager :: {{ object.album_artist }} - {{ object.album_title }}
{% endblock %}

{% block additional_style %}
<link rel="stylesheet" type="text/css" href="{% static 'mm_user/css/rating.css' %}">
{% endblock %}

{% block content %}
<!-- Body start -->
{% load manager_core_tags %}
<h1>앨범 확인하기</h1>
<div class="goni_padding"></div>
<!-- Start of printing result -->
{% album_info album_link=False add_delete_button=True %}

<!-- Track list. -->
{% for disk in disks %}
  {% comment "Get disk number" %}
    Get disk number from first track. disk is a QuerySet object for an actual disk. 
    You can access first element of list using '.0'.
  {% endcomment %}
  <h4>Disk {{ disk.0.disk }}</h4>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Artist</th>
    </tr>
  {% for track in disk %}
    <tr>
      <td>{{ track.track_num }}</td>
      <td>{{ track.track_title }}</td>
      <td>{{ track.track_artist}}</td>
    </tr>
  {% endfor %}
  </table>
{% endfor %}
<div class="goni_padding"></div>
<!-- End of track list -->
<!-- List of users having this album -->
<div>
    <p style="font-weight: bold;">이 앨범을 갖고 있는 사람</p>
    <p>
    {% for user in users %}
        <a href="{% url 'user:user_profile' user.user.id %}">{{ user.user.nickname }}</a>&nbsp;
    {% endfor %}
    </p>
</div>
<div class="goni_padding"></div>
<!-- End of users list -->
<!-- Comments -->
<p style="font-weight: bold;">총 <span style="color: red;">{{ comments|length }}</span> 개의 댓글</p>
<table class="table">
{% for comment in comments %}
<tr>
    <td class="col-md-2 col-sm-2 col-xs-2">{{ comment.user.nickname }}</td>
    <td class="col-md-9 col-sm-9 col-xs-9">{{ comment.comment }} &nbsp;&nbsp;<small class="comment-date">{{ comment.add_date }}</small></td>
    {% if user.is_authenticated and comment.user.nickname == user.nickname %}
    <td class="col-md-1 col-sm-1 col-xs-1"><a href="{% url 'manager_core:delete_comment' comment.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
    {% else %}
    <td class="col-md-1 col-sm-1 col-xs-1"></td>
    {% endif %}
</tr>
{% endfor %}
</table>
<!-- End of comments -->
<!-- Form for writing comments -->
{% if user.is_authenticated %}
<form class="form-inline" role="form" action="{% url 'manager_core:add_comment' %}" method="POST">
    {% csrf_token %}
    <input class="form-control" type="text" name="comment" placeholder="댓글을 달아주세요. (최대 500자)">
    <input type="hidden" name="album_id" value="{{ album.id }}">
    <input class="btn btn-primary" type="submit" value="comment">
</form>
{% endif %}
<!-- End of form for writing comments -->
<p></p>
<!-- End of printing result -->
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}