<!DOCTYPE html>
{% load staticfiles %}
<!-- Bootstrap default template -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}
			{% endblock %}
		</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="{% static 'manager_core/css/bootstrap.min.css' %}">
		<!-- Custom CSS (by Yungon) -->
		<link rel="stylesheet" type="text/css" href="{% static 'manager_core/css/custom.css' %}">
		{% block additional_style %}
		{% endblock %}

		<!-- Favicon -->
		<link rel="shortcut icon" type="image/png" href="{% static 'manager_core/images/favicon.ico' %}"/>

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js">
			</script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js">
			</script>
		<![endif]-->
	</head>
	<body>
		<!-- Header -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'index' %}">MusicManager</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						{% if user.is_authenticated %}
						<li><a href="{% url 'user:main' %}">Hello,&nbsp;{% firstof user.get_short_name user.get_username %}</a></li>
						<li><a href="{% url 'user:update' %}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;Change info</a></li>
						<li><a href="{% url 'user:logout' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;Logout</a></li>
						{% else %}
                        <li><a href="{% url 'user:create' %}"><span class="glyphicon glyphicon-user"></span>&nbsp;Sign in</a></li>
						<li><a href="{% url 'user:login' %}">Login</a></li>
						{% endif %}
						<li><a href="{% url 'manager_core:add_album' %}"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</a></li>
						<li><a href="{% url 'manager_core:search' %}"><span class="glyphicon glyphicon-search"></span>&nbsp;All</a></li>
						{% if user.is_authenticated %}
                        <li><a href="{% url 'user:user_album_search' %}"><span class="glyphicon glyphicon-search"></span>&nbsp;My Album</a></li>
                        {% endif %}
					</ul>
				</div>
            </div>
        </nav>

		
		<!-- Start contents -->
		<div class="container">
            {% block content %}
            {% endblock %}
        </div>
		<!-- End of contents -->
		<!-- Footer -->
        <div class="col-md-12 gonifooter">
		    <div class="container">
				<p style="padding-top:5px;">2016~2017 April Station Lab(Yungon Park). All rights reserved.</p>
			</div>
		</div>

		<!-- JQuery (Necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static 'manager_core/js/bootstrap.min.js' %}"></script>
		{% block addtional_scripts %}
		{% endblock %}
	</body>
</html>
