{% extends "manager_core/page_base.html" %}

{% block title %}
MusicManager :: Login
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
<!-- Body start -->
<h1>Login</h1>

{% if next %}
    {% if user.is_authenticated %}
    <p>이 페이지를 볼 수 있는 권한이 없습니다. 진행하려면 권한이 있는 계정으로 로그인하세요.</p>
    {% else %}
    <p>로그인을 해 주세요.</p>
    {% endif %}
{% endif %}

<form method="post" action=".">
    {% csrf_token %}

    {% if form.errors %}
    <p>입력하신 이메일 주소와 비밀번호가 맞지 않습니다.</p>
    {% endif %}
    {{ form|crispy }}
    <div>
        <input class="btn btn-primary" type="submit" value="로그인" />
        &nbsp;
        <a class="btn btn-default" href="{% url 'user:password_reset' %}">비밀번호 초기화</a>
    </div>

</form>

<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}