{% extends "manager_core/page_base.html" %}

{% block title %}

{% endblock title %}
MusicManager :: Modify User Info
{% block content %}
{% load crispy_forms_tags %}
<!-- Body start -->
<h1>Modify User Info</h1>

<p>사용자 정보를 수정합니다.</p>

<form method="post" action=".">
    {% csrf_token %}

    {% if form.errors %}
    <p>아래 입력에서 에러가 난 부분을 확인하세요.</p>
    {% endif %}

    {{ form.as_p }}

    <input class="btn btn-default" type="submit" value="등록" />

</form>

<div class="goni_padding"></div>

<p>비밀번호 변경을 원하시면 다음 링크로 이동하십시오.</p>
<a href="#" class="btn btn-default">Change Password</a>

<div class="goni_padding"></div>

<p>탈퇴를 원하시면 다음 링크로 이동하십시오.</p>
<a href="{% url 'user:delete' %}" class="btn btn-danger">Remove Account</a>

<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}