{% extends "manager_core/page_base.html" %}

{% block title %}

{% endblock title %}
MusicManager :: Modify User Password
{% block content %}
{% load crispy_forms_tags %}
<!-- Body start -->
<h1>Modify User Password</h1>

<p>사용자 비밀번호를 수정합니다.</p>

<form method="post" action=".">
    {% csrf_token %}

    {% if form.errors %}
    <p>아래 입력에서 에러가 난 부분을 확인하세요.</p>
    {% endif %}

    {{ form.as_p }}

    <input class="btn btn-default" type="submit" value="수정" />

</form>

<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}