{% extends "manager_core/page_base.html" %}

{% block title %}

{% endblock title %}
MusicManager :: Register
{% block content %}
{% load crispy_forms_tags %}
<!-- Body start -->
<h1>Register</h1>

<p>아래 양식을 채워 사용자 등록을 해 주시기 바랍니다.</p>

<form method="post" action=".">
    {% csrf_token %}

    {% if form.errors %}
    <p>아래 입력에서 에러가 난 부분을 확인하세요.</p>
    {% endif %}

    {{ form.as_p }}

    <input class="btn btn-default" type="submit" value="등록" />

</form>

<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}