{% extends "manager_core/page_base.html" %}

{% load static %}

{% block title %}
MusicManager :: {% firstof user.get_short_name user.get_username %}'s album
{% endblock title %}

{% block additional_style %}
<link rel="stylesheet" type="text/css" href="{% static 'mm_user/css/rating.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% load manager_core_tags %}
<!-- Rating form -->
{% if user == object %}
{% include "users/rating_form.html" %}
{% endif %}

<!-- Body start -->
<h1>Main</h1>

<p>{% firstof object.get_short_name object.get_username %}님의 앨범 목록입니다. ({{ user_album_count }}장 관리 중)</p>
{% if intersection_count is not 0 and user != object %}
<p>
    {% firstof object.get_short_name object.get_username %}님과 {% firstof user.get_short_name user.get_username %}님은
    <a href="{% url 'user:intersection' object.id %}">{{ intersection_count }}장의 동일한 앨범</a>을 갖고 있습니다.
</p>
{% endif %}
<div class="goni_padding"></div>
<!-- User's album list -->
{% for user_album in object_list %}
    {% user_album_info %}
{% endfor %}

<!-- End of user's album list -->
<!-- Page selector. -->
{% if paginator.num_pages > 1 %}
    {% pagination %}
{% endif %}
<!-- End of page selector. -->

<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}

{% block addtional_scripts %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
$( function() {
    var dialog = $("#rating-form").dialog({
        autoOpen: false,
        height: 200,
        width: 400,
        modal: true,
    });

    $(".open-form").on("click", function() {
        /* Get id value from link */
        var id = $(this).attr('id');

        /* Modify form action */
        $("form").attr("action", "{% url 'user:user_album_rating_no_argument' %}" + id);

        /* Modify value of user_album_id */
        $("input[name=user_album_id]").val(id);

        dialog.dialog("open");
    });
});
</script>
{% endblock %}