{% extends 'manager_core/page_base.html' %}

{% block title %}
MusicManager :: Delete User
{% endblock %}

{% block content %}
<!-- Body start -->
<h1>Delete User(확인)</h1>

<div class="goni_padding"></div>
<p>진짜로 탈퇴하시겠습니까?</p>
<form action="" method="POST">
{% csrf_token %}
    <input class="btn btn-danger" type="submit" value="탈퇴" />
    <a class="btn btn-default" href="{% url 'index' %}">취소</a>
</form>
<!-- End of printing result -->
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}