{% extends "manager_core/page_base.html" %}

{% load static %}

{% block title %}
MusicManager :: Intersection
{% endblock title %}

{% block additional_style %}
<link rel="stylesheet" type="text/css" href="{% static 'mm_user/css/rating.css' %}">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}
{% load manager_core_tags %}
<!-- Body start -->
<h1>Main</h1>

<p>{% firstof object.get_short_name object.get_username %}님과 {% firstof user.get_short_name user.get_username %}님이 
    공통적으로 갖고 있는 앨범 목록입니다. 
    <span style="font-weight:bold;">(총 {{ intersection_count }}장)</span></p>
{% if intersection_count is not 0 and user != object %}

{% endif %}
<div class="goni_padding"></div>
<!-- User's album list -->
{% for object in object_list %}
    {% album_info album_link=True add_delete_button=True %}
{% endfor %}

<!-- End of user's album list -->
<!-- Page selector. -->
{% if paginator.num_pages > 1 %}
    {% pagination %}
{% endif %}
<!-- End of page selector. -->

<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}