{% extends "manager_core/page_base.html" %}

{% block title %}

{% endblock title %}
MusicManager :: {% firstof user.get_short_name user.get_username %}'s album
{% block content %}
{% load crispy_forms_tags %}
<!-- Body start -->
<h1>Main</h1>

<p>{% firstof user.get_short_name user.get_username %}님의 앨범 목록입니다.</p>

<!-- User's album list -->
{% for album in user_albums %}
    {% include "manager_core/album_item.html" with link=True id=album.id cover_file=album.album_cover_file artist=album.album_artist title=album.album_title user_delete=True %}
{% endfor %}

<!-- End of user's album list -->

<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}