{% extends 'manager_core/page_base.html' %}

{% load staticfiles %}

{% block title %}
MusicManager :: Delete album for user
{% endblock %}

{% block additional_style %}
<link rel="stylesheet" type="text/css" href="{% static 'mm_user/css/rating.css' %}">
{% endblock %}

{% block content %}
<!-- Body start -->
<h1>Delete Album from {% firstof user.get_short_name user.get_username %}'s List</h1>

<div class="goni_padding"></div>
<!-- Start of printing result -->
{% include "manager_core/album_item.html" with item=album %}
<hr>
<p>이 앨범을 {% firstof user.get_short_name user.get_username %}님의 리스트에서 삭제 하시겠습니까?</p>
<form class="form-inline" role="form" action="" method="POST">
{% csrf_token %}
    <input class="btn btn-danger" type="submit" value="삭제" />
    <a class="btn btn-default" href="{% url 'user:main' %}">취소</a>
</form>
<div class="goni_padding"></div>
<!-- Body end -->
{% endblock content %}